<nav{% if menu.css_id %} id="{{menu.css_id}}"{% endif %}{% if menu.css_class %} class="{{menu.css_class}}"{% endif %}>
    <ul>
    {% for item in menu.get_first_level %}
        <li{% if item.css_class %} class="{{item.css_class}}"{% endif %}>
            <a href="{{item_url}}" title="{{second_item.html_title}}"{% if item.target_blank %} target="_blank"{% endif %}>{{item.nav_title}}</a>
        {% if item.item_set|length > 0 %}
         <ul>
             {% for second_item in item.item_set.all %}
             <li{% if second_item.css_class %} class="{{second_item.css_class}}"{% endif %}>
                 <a href="{{second_item_url}}" title="{{second_item.html_title}}"{% if second_item.target_blank %} target="_blank"{% endif %}>{{second_item.nav_title}}</a>
             </li>
             {% endfor %}
         </ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
</nav>
