{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<article class="article">
    <h1>{{ actu.title }}</h1>
    {% if actu.image %}
        <img src="{{ actu.image.url }}" alt="{{ actu.title }}" class="article-image" />
    {% endif %}
    {{ actu.story|safe }}
    <p class="more-info">{% trans "Posted on" %} {{actu.date_pub|date:"d E Y"}}
        {% if actu.categories.exists %}
        {% trans "in categories" %} {% for category in actu.categories.all %}<a href="{{category.get_absolute_url}}">{{category.name}}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}{% endif %}</p>

</article>
{% endblock %}
