{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<article class="article">
    <h1>{{ post.title }}</h1>
    {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="article-image" />
    {% endif %}
    {{ post.article|safe }}
    <p class="more-info">{% trans "Posted on" %} {{post.date_pub|date:"d E Y"}}
        {% if post.categories.exists %}
        {% trans "in categories" %} {% for category in post.categories.all %}<a href="{{ category.get_absolute_url }}">{{ category.title }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}{% endif %}</p>

</article>
{% endblock %}
