ul#item-list, ul#new-item {
    clear: both;
    padding-left: 0;
}
ul#item-list fieldset, ul#new-item fieldset {
    display: none;
}
ul#item-list li, ul#new-item li {
    list-style-type: none;
    margin: 4px 2px;
    padding: 2px 8px;
}
fieldset.menu-item-detail {
    padding: 4px 10px;
}
.expands span, .catch-me {
    display: inline-block;
    cursor: pointer;
}
ul.connected-sortable {
    min-height: 6px;
    min-width: 6px;
    padding-bottom: 10px;
}
