{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<article class="article">
    <h1>{{ page.title }}</h1>
    {% if page.image %}
        <img src="{{ page.image.url }}" alt="{{ page.title }}" class="article-image" />
    {% endif %}
    {{ page.content|safe }}
</article>
{% endblock %}
