<li class="menu-item ui-state-default" data-pk="{{ item.pk }}">
    <form name="update-item" action="/api-menu/update/item" method="post">
        <input type="hidden" name="pk" value="{{ item.pk }}" />
        <span class="catch-me ui-icon ui-icon-grip-dotted-vertical"></span><label for="nav_title_{{ item.pk }}">Titre : </label><input id="nav_title_{{ item.pk }}" type="text" name="nav_title" value="{{ item.nav_title }}" /> <label for="url_{{ item.pk }}">URL : </label><input id="url_{{ item.pk }}" type="text" name="url" value="{{ item.url }}" /> <a class="expands"><span class="ui-icon ui-icon-carat-2-n-s">détails</span></a> <button type="submit"><span class="ui-icon ui-icon-circle-check">enregistrer</span></button><button class="delete-node" data-id="{{item.pk}}"><span class="ui-icon ui-icon-trash">Supprimer</span></button><br />
        <fieldset class="menu-item-detail">
            <legend>Détails</legend>
            <label for="css_class_{{ item.pk }}">Classes CSS : </label><input id="css_class_{{ item.pk }}" type="text" name="css_class" value="{{ item.css_class }}" /><br />
            <label for="target_blank_{{ item.pk }}">Ouvrir dans une nouvelle fenêtre : </label><input id="target_blank_{{ item.pk }}" type="checkbox" name="target_blank" {% if item.target_blank %}checked="checked"{% endif %} /><br />
            <label for="html_title_{{ item.pk }}">Titre html :</label><input id="html_title_{{ item.pk }}" type="text" name="html_title" value="{{ item.html_title }}" /><br />
            <label for="description_{{ item.pk }}">Description :</label><br /><textarea id="description_{{ item.pk }}" name="description">{{ item.description }}</textarea><br />
        </fieldset>
    </form>
     <ul class="connected-sortable">
         {% for second_item in item.item_set.all %}
             {% with item=second_item template_name="admin/menus_manager/snippets/block_menu_item.html" %}
                 {% include template_name %}
             {% endwith %}
         {% endfor %}
     </ul>
</li>