<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html>
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Huron Working template{% endblock %}</title>
        <meta name="description" content="Just a work-in-progress basic template">
        {% block more_header %}
        {% endblock %}
    </head>
    <body>
        {% if error_list|length > 0 %}
        {% for message in error_list %}
        <div class="alert">
            <p>
                {{message}}
            </p>
        </div>
        {% endfor %}
        {% endif %}
        <div class="container">
            {% block navigation %}
            {% endblock %}

            <div class="container">
                <div class="row">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <hr>
            {% block footer %}
            {% endblock %}
        </div>
        <!-- /container -->

        {% block more_js %}
        {% endblock %}
    </body>
</html>
